.main {
  margin: 30vh auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 750px;
}

.disconnect {
  position: fixed;
  margin-top: 0;
  margin: 32px auto;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  top: 40px;
  right: 40px;
  width: 120px;
  height: 50px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.error {
  border: 1px solid red;
  padding: 12px;
  border-radius: 5px;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  color: red;
  margin: 0 auto;
}
